.Posts {
  width: 80%;
  margin: 20px auto;
  .content {
    width: 100%px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .post {
      width: 470px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .line {
        display: flex;
        width: 100%;
        height: 0.5px;
        background-color: rgba(128, 128, 128, 0.376);
        margin: 30px;
      }
      .image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img,
        video {
          width: 100%;
          height: 400px;
          object-fit: contain;
          object-position: center;
        }
        .iconMore {
          display: none;
          position: absolute;
          align-items: center;
          justify-content: center;
          inset: 0;
          cursor: pointer;
          svg {
            color: #f5efefe8;
            font-size: 34px;
            transition: 0.4s;
            &:hover {
              transition: 0.4s;
              color: #5616edf9;
              font-size: 41px;
            }
          }
        }
        &:hover {
          .iconMore {
            display: flex;
          }
        }
      }

      .icons {
        margin-top: 10px;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon {
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          svg {
            font-size: 30px;
            cursor: pointer;
          }
        }
        .left {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0 17px;
        }
      }
      .likesCount {
        width: 100%;
        margin: 10px 0;
        font-weight: 700;
      }
      .contentText {
        width: 100%;
      }
    }
  }
}
