.UserProfile {
  width: 80%;
  margin: 20px auto;
  @media screen and (max-width: 1000px) {
    width: 100%;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .profile {
      width: 960px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 1000px) {
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: clamp(210px, 66vw, 460px);
        height: 410px;
      }
      .left {
        .image {
          width: 180px;
          height: 180px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
          }
        }
      }
      .right {
        width: clamp(210px, 66vw, 660px);
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 30px;
        @media screen and (max-width: 1000px) {
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          height: 200px;
        }
        .userData {
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 10px;
          @media screen and (max-width: 1000px) {
            flex-direction: column;
          }
          h3 {
            font-size: clamp(14px, 3vw, 22px);
            font-weight: 400;
          }

          .btns {
            display: flex;
            align-items: center;
            gap: 7px;
            button {
              font-weight: 600;
              border: none;
              background-color: rgba(67, 62, 62, 0.764);
              width: 95px;
              height: 30px;
              border-radius: 4px;
              font-size: clamp(12px, 1vw, 14px);

              &:hover {
                background-color: rgb(67, 62, 62);
              }
            }
            .options {
              width: 30px;
            }
          }
        }
        .folowers {
          display: flex;
          align-items: center;
          gap: 15px;
          p {
            font-size: clamp(12px, 2vw, 15px);

            .totalCount {
              font-weight: 700;
            }
          }
        }
        .description {
          width: clamp(290px, 66vw, 500px);

          h5 {
            font-size: clamp(12px, 1vw, 14px);

            font-weight: 700;
          }
          p {
            font-size: clamp(7px, 2vw, 14px);
            word-break: normal;
          }
        }
      }
    }
    .line {
      width: 100%;
      height: 0.3px;
      background-color: rgba(128, 128, 128, 0.376);
    }
    .posts {
      margin-top: 20px;
      display: flex;
      align-items: start;
      justify-content: start;
      flex-wrap: wrap;
      gap: 10px;
      .post {
        width: clamp(167px, 23vw, 310px);
        display: flex;
        align-items: start;
        justify-content: start;

        .image {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid rgba(128, 128, 128, 0.465);

          img,
          video {
            width: 100%;
            height: clamp(140px, 21vw, 300px);

            object-fit: contain;
            object-position: center;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
